@import url("https://fonts.googleapis.com/css?family=Archivo&display=swap");
* {
  box-sizing: border-box;
}
body {
  font-family: "Archivo", sans-serif;
  background-image: linear-gradient(to right, #a1a1a1, #b5b5b5, #c9c9c9, #dedede, #f3f3f3);
}
.jumbotron {
  background-image: linear-gradient(to left, #a1a1a1, #b5b5b5, #c9c9c9, #dedede, #f3f3f3);
  margin: 0;
  padding: 50px;
}
.jumbotron-home-img {
  opacity: 0.7;
  width: 350px;
  filter: grayscale(10%);
}
.jumbotron-img {
  opacity: 0.7;
  width: 300px;
  filter: grayscale(10%);
}
.welcome {
  margin-top: 60px;
  font-weight: 700;
  color: white;
  text-shadow: 1px 1px 4px black;
}
.members-tbl {
  background-color: #f3f3f3;
  padding-top: 10px;
}
table {
  border: 1px solid white;
}
/* #loader {
  position: absolute;
  left: 50%;
  top: 135%;
  z-index: 1;
  width: 150px;
  height: 150px;
  margin: -75px 0 0 -75px;
  border: 12px solid #f3f3f3;
  border-radius: 50%;
  border-top: 12px solid #3498db;
  width: 100px;
  height: 100px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
} */
/* Bootstrap loader */
#loader {
  position: absolute;
  left: 45%;
  top: 125%;
  width: 100px;
  height: 100px;
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s;
}
@-webkit-keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0px;
    opacity: 1;
  }
}
@keyframes animatebottom {
  from {
    bottom: -100px;
    opacity: 0;
  }
  to {
    bottom: 0;
    opacity: 1;
  }
}
#myDiv {
  display: none;
  text-align: center;
}
