.jumbotron {
  background-image: url(../img/TGIFlogo.png);
  background-size: 60%;
  background-repeat: no-repeat;
  background-position: right;
  background-color: white;
  height: 50vh;
  opacity: 0.7;
}
.card {
  border: none;
}
.about {
  &-img {
    background-image: url(../img/americanFlag.jpg);
    background-size: cover;
    opacity: 0.7;
  }
  &-dropdown {
    border: none;
    width: 100%;
  }
}
